/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url(papel.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado con forma de ola (wave) */
header {
    background-color: #0099cc; /* Color de fondo del encabezado */
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altura de la ola */
    background: url(wave.svg) repeat-x; /* Imagen de la ola */
    transform: rotate(180deg); /* Voltear la ola */
}

/* Estilos de la sección de la receta */
.receta {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.receta img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
}

/* Estilos de los ingredientes y pasos */
.ingredientes, .pasos {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.ingredientes ul, .pasos ol {
    list-style-type: none;
    padding: 0;
}

/* Limpieza de flotadores */
.receta::after {
    content: '';
    display: table;
    clear: both;
}

/* Agrega estos estilos a tu archivo estiloS.css o crea un nuevo archivo CSS */
.sugerencias {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
}

#sugerencia-form {
    text-align: center;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
